*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    background-color: hsl(226, 43%, 10%);

}
.container{
    width: 80%;
    height: 70vh;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,50%);
    grid-template-areas:"one two three four" 
                        "one five six seven" ;
    gap: 30px;
    margin-top: 100px;
    
}

.profile-card{
    
    background-color: hsl(235, 46%, 20%);
    grid-area: one;
    border-radius: 20px;
}
.profile-card-top{
    background-color: hsl(235, 45%, 61%);
    border-radius: 20px;
    color: #fff;
    height: 280px;
}
.profile-card-top img{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 10px 0 0 30px;

}
.profile-card-top span{
    font-size: xx-small;
    margin-left: 10px;
    font-weight: 300;
}

.profile-card-top h1{
    margin: 10px 0 0 30px;
}
.profile-card-bottom{
    border-radius: 20px;
}
.profile-card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin: 20px 0 0 30px;
}
.profile-card-bottom .item{
    color:hsl(235, 45%, 61%) ;
}
.work-times{
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    grid-area: two;
    
}
.work-time-top{
    background-color: hsl(15, 100%, 70%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
}

.play-times{
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    grid-area: three;
    
}
.play-time-top{
    background-color: hsl(195, 74%, 62%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.study-times{
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    grid-area: four;
    
}
.study-time-top{
    background-color: hsl(348, 100%, 68%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.exercise-times{
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    grid-area: five;
    
}
.exercise-time-top{
    background-color:hsl(145, 58%, 55%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.social-times{
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    grid-area: six;
    
}
.social-time-top{
    background-color:hsl(264, 64%, 52%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.selfcare-times{
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    grid-area: seven;
    
}
.selfcare-time-top{
    background-color:hsl(43, 84%, 65%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    
}
.current-time{
    font-size: 30px;
    margin: 0 0 0 25px;
}
.previous{
    font-size: 8px;
    margin: 0 0 0 25px;
}
h2{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 0 40PX;
}
h2 span{
    margin: 0 20px 40px 0;
    font-size: large;
}
.times{
    margin-top: 20px;
    padding: 20px;
}
@media screen and (max-width: 600px){
    .container{
        display: block;
        height: 100vh;
    }
}